@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


html, body {
  overflow-x:hidden 
} 


body{
    font-family: 'Lato', sans-serif;

    
}
.navbar {
    background-color: rgba(85,201,137,1);
    font-size: 120%;
}

.button-text{
    padding:30px;
    font-size: 30;

}
.btn {
    background-color: rgba(255,255,255,0.9);
    color: rgba(85,201,137,1);
    border-color: rgba(255,255,255,0.9);
    
    font-size:150%;
}
.logo3 {
    height: 80%;
    width: 80%;
}

.logo1 {
    height: 15%;
    width: 15%;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.9);
}

.nav-link:hover {
    color: rgba(255,255,255,0.1);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(61,155,233,0.6);
}

.green-container{
    background-color: rgba(85,201,137,1);
    color: rgba(255,255,255,1);
    padding-top: 50px
}

.white-container{
    color: rgba(85,201,137,1);
}

.h1-main{
    padding-top:5px;
    font-size: 60px;
    font-weight:300;
}
.grey-container{
    background-color: rgba(160,160,159,0.8);
}
.h2-main {
      font-size: 40px;
    font-weight:400;
    padding-bottom:40px;
  }
.sub-text{
    font-size:30px;
    font-weight:300;

}
@media (min-width: 992px) { 

    .logo3 {
    height: 400%;
    width: 400%;


    }
    #title-box{
        padding-top:10px
    }

}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgba(139,208,205,0.9);
}

.number{
    color: rgba(139,208,205,1);;
}


#video-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.app-link{
    padding-right:22px;
}

.icon-box{
    padding: 20px;
}

#title-box{
  padding-top: 60px;
}


